/*
 * SDXC0 on HPM6750EVK2.
 *
 * The disk name used by disk_access is CONFIG_SDMMC_VOLUME_NAME ("SDMMC" by
 * default). It is unrelated to the filesystem volume label printed on a PC.
 */

/ {
	aliases {
		sdhc0 = &sd0;
	};
};

&sd0 {
	status = "okay";
	pinctrl-0 = <&pinmux_sd>;
	pinctrl-1 = <&pinmux_sd>;
	pinctrl-2 = <&pinmux_sd>;
	pinctrl-3 = <&pinmux_sd>;
	pinctrl-4 = <&pinmux_sd>;
	pinctrl-names = "default", "slow", "med", "fast", "nopull";
	power-delay-ms = <100>;
	pwr-3v3-support;
	embedded-4-bit-support;

	sdmmc {
		compatible = "zephyr,sdmmc-disk";
		status = "okay";
	};
};
